# PyCity Schools Analysis

* Your analysis here
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data = Path("Resources/schools_complete.csv")
student_data = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

In [2]:
# Calculate the Totals Schools
school_count = len(school_data_complete_df["school_name"].unique())
school_count

15

In [3]:
# Calculate the Total Students
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [4]:
# Calculate the Total Budget
Total_budget = school_data_df["budget"].sum()
Total_budget

24649428

In [5]:
# Calculate the Average Scores
average_maths_score = school_data_complete_df["maths_score"].mean()
average_maths_score

70.33819249425581

In [6]:
#Calculate the Average Reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

69.98013786060761

In [7]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete_df[(school_data_complete_df["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_maths_percentage

86.07863160582077

In [8]:
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

84.42685728874139

In [9]:
passing_maths_reading_count = school_data_complete_df[
    (school_data_complete_df["reading_score"] >= 50) & (school_data_complete_df["maths_score"] >=50)].count()["student_name"]
overall_passing_rate = passing_maths_reading_count / float(student_count) * 100
overall_passing_rate

72.80827163645647

In [ ]:
# Convert to DataFrame
area_summary =pd.DataFrame({"Total Schools": [school_count], 
                                 "Total Students": [student_count], 
                                 "Total Budget": [Total_budget],
                                 "Average Maths Score": [average_maths_score], 
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Maths": [passing_maths_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing": [overall_passing_rate]})

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
area_summary

## School Summary

In [ ]:
# Use the code provided to select the type per school from school_data
school_types = school_data_df.set_index(["school_name"])["type"]
school_types

In [ ]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

In [ ]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data_complete_df.groupby(["school_name"])["budget"].mean()
per_school_budget
per_school_capita = per_school_budget / per_school_counts
per_school_capita

In [ ]:
# Calculate the average test scores per school from school_data_complete
per_school_maths = school_data_complete_df.groupby(["school_name"])["maths_score"].mean()
per_school_reading = school_data_complete_df.groupby(["school_name"])["reading_score"].mean()

In [ ]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
school_passing_maths = school_data_complete_df[(school_data_complete_df["maths_score"] >= 50)]
school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 50)]

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading = school_data_complete_df[
    (school_data_complete_df["reading_score"] >= 50) & (school_data_complete_df["maths_score"] >= 50)]

In [ ]:
#  Calculate the Percentage Pass Rates
per_school_passing_maths = school_passing_maths.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_maths_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [ ]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_maths,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_maths,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Top Performing Schools (By % Overall Passing)

In [ ]:
# Sort and show top five schools
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort and show bottom five schools
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head(5)

## Maths Scores by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete_df[(school_data_complete_df["year"] == 9)]
year_ten = school_data_complete_df[(school_data_complete_df["year"] == 10)]
year_eleven = school_data_complete_df[(school_data_complete_df["year"] == 11)]
year_twelve = school_data_complete_df[(school_data_complete_df["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["maths_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["maths_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["maths_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["maths_score"].mean()

# Combine series into single DataFrame
maths_scores_by_year = pd.DataFrame ({"9": year_nine_scores,
                                      "10": year_ten_scores,
                                      "11": year_eleven_scores,
                                      "12": year_twelve_scores})


# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

## Reading Score by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete_df[(school_data_complete_df["year"] == 9)]
year_ten = school_data_complete_df[(school_data_complete_df["year"] == 10)]
year_eleven = school_data_complete_df[(school_data_complete_df["year"] == 11)]
year_twelve = school_data_complete_df[(school_data_complete_df["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["reading_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["reading_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["reading_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["reading_score"].mean()
# Combine series into single DataFrame
reading_scores_by_year = pd.DataFrame ({"9": year_nine_scores,
                                      "10": year_ten_scores,
                                      "11": year_eleven_scores,
                                      "12": year_twelve_scores})


# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary for later aggregations
# This step can be skipped but it's best to make a copy.
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorise per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Maths Score": spending_math_scores,
                                        "Average Reading Score": spending_reading_scores,
                                        "% Passing Math": spending_passing_math,
                                        "% Passing Reading": spending_passing_reading,
                                        "% Overall Passing": overall_passing_spending})

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a copy of the school summary for later aggregations
# This step can be skipped but it's best to make a copy.
school_size_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorise school size based on the bins.
school_size_df["School Size"] = pd.cut(per_school_counts, size_bins, labels=group_names)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
size_summary = pd.DataFrame({"Average Math Score": size_math_scores,
                                        "Average Reading Score": size_reading_scores,
                                        "% Passing Math": size_passing_math,
                                        "% Passing Reading": size_passing_reading,
                                        "% Overall Passing": size_overall_passing})

# Display results
size_summary

## Scores by School Type

In [ ]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

average_math_score_by_type = school_size_df.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = school_size_df.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = school_size_df.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = school_size_df.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = school_size_df.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
type_summary = pd.DataFrame({"Average Math Score" : average_math_score_by_type,
                                        "Average Reading Score" : average_reading_score_by_type,
                                        "% Passing Math" : average_percent_passing_math_by_type,
                                        "% Passing Reading" : average_percent_passing_reading_by_type,
                                        "% Overall Passing" : average_percent_overall_passing_by_type})

# Display results
type_summary